.middle {
  margin: 6em;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 1em;

  @include sm {
    margin: 3em;
  }

  @include xs {
    margin: 1em;
  }

  .search-not-found {
    font-size: 30px;
  }
}
